<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Nhận dạng Tiếng Việt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="Ngọc Quang - Hoàng Quyên HCMUS">
    <meta name="keywords" content="Speech To Text, Regconition,Vietnamese, Regconize">
    <meta name="author" content="Ngọc Quang - Hoàng Quyên">
    <!-- Meta FB -->
    <meta property="og:title" content="Nhận dạng âm thanh Tiếng Việt - Vietnamese Speech Recognition" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://product.vnspeechrecognition.com" />
    <meta property="og:image" content="assets/images/og.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <link rel="icon" href="assets/images/favicon.ico">
    <meta property="og:site_name" content="Vietnamese Speech Recognition" />
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/plugins/dropify.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script> -->

    <link rel="stylesheet" href="assets/css/style.css">
    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/vendor-all.min.js"></script>

    <link rel="stylesheet" href="assets/css/plugins/PNotifyBrightTheme.css">
    <link rel="stylesheet" href="assets/css/plugins/trumbowyg.min.css">
    <script src="assets/js/plugins/dropify.min.js"></script>
    <!--  -->
    <link href="/assets/css/wave.css" rel="stylesheet">
    <script src="/assets/js/video.min.js"></script>
    <script src="/assets/js/RecordRTC.js"></script>
    <!-- <script src="js/adapter.js"></script> -->
    <script src="/assets/js/wavesurfer.min.js"></script>
    <script src="/assets/js/wavesurfer.microphone.min.js"></script>
    <script src="/assets/js/videojs.wavesurfer.min.js"></script>
    <script src="/assets/js/videojs.record.min.js"></script>
    <script src="/assets/js/browser-workarounds.js"></script>
    <script src="/assets/js/main.js"></script>

</head>

<body class="">
    <nav class="pcoded-navbar dashboard-nav menupos-fixed navbar-collapsed">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div ">
                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Danh Mục</label>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-tachometer-alt"></i></span><span class="pcoded-mtext">Trang chủ</span></a></li>
                    <li class="nav-item">
                        <a href="./assets/wav/FPTOpenSpeechData_Set002_V0.1_010349.wav" target="_blank" class="nav-link "><span class="pcoded-micon"><i class="fas fa-history"></i></span><span class="pcoded-mtext">Âm thanh mẫu</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-history"></i></span><span class="pcoded-mtext">Lịch sử</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-sitemap"></i></span><span class="pcoded-mtext">Hướng dẫn sử dụng</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-file-invoice"></i></span><span class="pcoded-mtext">Trợ giúp</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fab fa-dev"></i></span><span class="pcoded-mtext">API</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fas fa-user-tie"></i></span><span class="pcoded-mtext">Đội ngữ phát triển</span></a>
                    </li>
                </ul>
                <div class="card text-center">
                    <div class="card-block">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="far fa-life-ring f-40"></i>
                        <h6 class="mt-3">Giúp đỡ</h6>
                        <p>Hãy liên hệ với chúng tôi để yêu cầu sự giúp đỡ</p>
                        <a href="#!" target="_blank" class="btn btn-primary btn-sm text-white m-0">Support</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed brand-dark ">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="/" class="b-brand">
                <img src="assets/images/logo.png" alt="" class="logo">
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" style="background-color: #171F46;margin-left: 0.8px;">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle h-drop" href="#" data-toggle="dropdown">
                            <i class="feather icon-monitor mx-2"></i>
                            <span class="d-none d-sm-inline-block">Phím tắt</span>
                        </a>

                    </div>
                </li> -->
                <!--<li class="nav-item h-auto d-none d-md-inline-block">
                    <div class="input-group search-form">
                        <div class="nav-search">
                            <div class="filter-block">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent"><i class="feather icon-search"></i></span>
                                </div>
                                <input type="text" class="form-control input nav-search" placeholder="Search" tabindex="-1" data-search="menu-list">
                                <ul class="link-list dropdown-menu"></ul>
                            </div>
                        </div>
                    </div>
                </li>-->
                <li class="nav-item">
                    <h1>NHẬN DẠNG ÂM THANH TIẾNG VIỆT</h1>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/avatar.jpg" class="img-radius" alt="User-Profile-Image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <ul class="pro-body">
                                <li><a href="#" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                                <li><a href="#" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
                                <li><a href="#" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="pcoded-main-container">
        <div class="pcoded-content container">
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-lg-6" style="display:flex">
                    <h4 style="min-width: 130px;margin: auto 0px;">Chọn mô hình:</h4>
                    <select id="models" class="form-control">
                        <option value="1">Mô hình dataset FPT</option>
                        <option value="2">Mô hình dataset VinBigData</option>
                        <option value="3" selected>Mô hình dataset FPT ft VinBigData</option>
                    </select>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card" style="height:95%">
                        <div class="card-body" style="margin-bottom: 20px;padding-bottom: 0px;">
                        <div style="display:flex">
                                <h2 class="font-weight-normal mb-4">Ghi âm giọng nói</h2>
                                <div style="position: absolute; margin:0px 17px; right:0" class="custom-control custom-switch custom-control-inline">
                                    <img name="download_record" style="max-height: 40px;" src="assets/images/download.png"/>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="datta-example">
                                    <audio id="audioWave" class="video-js vjs-default-skin"></audio>
                                    <div class="inputSelector">
                                        <label>Select audio input: </label>
                                        <select id="selector"></select>
                                    </div>

                                </div>
                                <script>
                                    var devices, deviceId;
                                    var options = {
                                        controls: true,
                                        width: 600,
                                        height: 150,
                                        fluid: false,
                                        plugins: {
                                            wavesurfer: {
                                                backend: 'WebAudio',
                                                waveColor: '#6fffe9',
                                                progressColor: '#2E732D',
                                                debug: true,
                                                src: 'live',
                                                cursorWidth: 1,
                                                hideScrollbar: true,
                                                height: 240,
                                                plugins: [
                                                    WaveSurfer.microphone.create({
                                                        bufferSize: 4096,
                                                        numberOfInputChannels: 1,
                                                        numberOfOutputChannels: 1,
                                                        constraints: {
                                                            video: false,
                                                            audio: true
                                                        }
                                                    })
                                                ]
                                            },
                                            record: {
                                                audio: true,
                                                video: false,
                                                maxLength: 20000,
                                                displayMilliseconds: true,
                                                debug: false,
                                            }
                                        }
                                    };
                                    var inputSection = document.getElementsByClassName('inputSelector')[0];

                                    // apply some workarounds for certain browsers
                                    applyAudioWorkaround();
                                    var player = videojs('audioWave', options, function() {
                                        // print version information at startup
                                        var msg = 'Using video.js ' + videojs.VERSION +
                                            ' with videojs-record ' + videojs.getPluginVersion('record') +
                                            ', videojs-wavesurfer ' + videojs.getPluginVersion('wavesurfer') +
                                            ', wavesurfer.js ' + WaveSurfer.VERSION + ' and recordrtc ' +
                                            RecordRTC.version;
                                        videojs.log(msg);
                                    });
                                    player.one('deviceReady', function() {
                                        player.record().enumerateDevices();
                                    });
                                    player.on('enumerateReady', function() {
                                        devices = player.record().devices;
                                        var inputSelector = document.getElementById('selector');
                                        inputSelector.addEventListener('change', changeAudioInput);
                                        var deviceInfo, option, i;
                                        for (i = 0; i !== devices.length; ++i) {
                                            deviceInfo = devices[i];
                                            option = document.createElement('option');
                                            option.value = deviceInfo.deviceId;
                                            if (deviceInfo.kind === 'audioinput') {
                                                console.info('Found audio input device: ', deviceInfo.label);
                                                option.text = deviceInfo.label || 'input device ' +
                                                    (inputSelector.length + 1);
                                                inputSelector.appendChild(option);
                                            }
                                        }
                                        if (inputSelector.length == 0) {
                                            // no output devices found, disable select
                                            option = document.createElement('option');
                                            option.text = 'No audio input devices found';
                                            option.value = undefined;
                                            inputSelector.appendChild(option);
                                            inputSelector.disabled = true;
                                            console.warn(option.text);
                                        } else {
                                            console.info('Total input devices found:', inputSelector.length);
                                        }
                                        inputSection.style.display = 'block';
                                    });

                                    function changeAudioInput(event) {
                                        var label = event.target.options[event.target.selectedIndex].text;
                                        deviceId = event.target.value;
                                        try {
                                            player.record().setAudioInput(deviceId);
                                            console.log("Changed audio input to '" + label + "' (deviceId: " +
                                                deviceId + ")");
                                        } catch (error) {
                                            console.warn(error);
                                            event.target.selectedIndex = 0;
                                        }
                                    }

                                    // error handling
                                    player.on('enumerateError', function() {
                                        console.warn('enumerate error:', player.enumerateErrorCode);
                                    });
                                    player.on('deviceError', function() {
                                        console.warn('device error:', player.deviceErrorCode);
                                    });
                                    player.on('error', function(element, error) {
                                        console.error(error);
                                    });
                                    player.on('startRecord', function() {
                                        console.log('started recording!');
                                    });
                                    player.on('finishRecord', function() {
                                        console.log('finished recording: ', player.recordedData);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card" style="height:95%">
                        <div class="card-body" style="margin-bottom: 20px;padding-bottom: 0px;">
                            <h2 class="font-weight-normal mb-4">Tải lên tập tin</h2>
                            <div class="row" style="height:80%">
                                <form style="display:none"></form>
                                <div class="datta-example">
                                    <input type="file" id="wavfileUpload" class="dropify" />
                                    <script>
                                        $(document).ready(function() {
                                            $('#wavfileUpload').dropify({
                                                messages: {
                                                    'default': '<span>Kéo thả hoặc </span><button type="button" class="btn px-md-5 mt-3 btn-primary">Tải lên từ máy tính</button>',
                                                    'replace': "Kéo thả hoặc tải lên để thay thế",
                                                    'maxFileSize': 5000,
                                                    'remove': "Gỡ",
                                                    'error': "Đã có lỗi xảy ra"
                                                },
                                                error: {
                                                    'fileSize': 'Kích thước file quá lớn',
                                                    'fileExtension': "Định dạng tệp tin không hỗ trợ, chỉ hỗ trợ wav.",
                                                    'error': "Đã có lỗi xảy ra",
                                                },
                                                allowedFileExtensions: ["wav", "mp3", "webm"]
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-lg-6">
                    <button type="button" style="margin-left: 0.5%;width: 99%;" class="btn btn-outline-success" mask="recording" name="pnotify-progress"><i class="mr-2 mr-2 fas fa-hourglass-start"></i>Nhận dạng ghi âm</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" style="width: 99%;" class="btn btn-outline-success" mask="uploadfile" name="pnotify-progress"><i class="mr-2 mr-2 fas fa-hourglass-start"></i>Nhận dạng tập tin</button>
                </div>
            </div>
            <!---<div class="row">
                <div class="col-lg-6">
                    <button type="button" style="margin-left: 0.5%;width: 99%;" class="btn btn-outline-success" mask="download_record" name="download_record"><i class="mr-2 mr-2 fas fa-hourglass-start"></i>Tải xuống ghi âm</button>
                </div>
            </div>
            !-->
            <hr style="margin:10px">
            <div class="row">
                <div id="result-block-div" class="col-md-12">
                    <div id="result-block" class="card" style="height:95%">
                        <div class="card-header not-padding-bottom">
                        <div style="display:flex">
                            <h3 id="ketquaLabel" class="font-weight-normal" style="margin:0px 170px">Kết quả </h3>
                            <div style="position: absolute; margin:0px 17px" class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" class="custom-control-input input-secondary" id="expected">
                                <label style="font-weight: 700;font-size: 14px;" class="custom-control-label" for="expected">WER / CER</label>
                            </div>
                        </div>
                        </div>
                        <div class="card-body">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
                                <symbol id="trumbowyg-myicon" viewBox="0 0 72 72">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M472,313v139c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20V313H0v139c0,33.084,26.916,60,60,60h392c33.084,0,60-26.916,60-60V313H472z"/></g></g><g><g><polygon points="352,235.716 276,311.716 276,0 236,0 236,311.716 160,235.716 131.716,264 256,388.284 380.284,264 "/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                </symbol>
                            </svg>


                            <textarea id="result-editor">
                                </textarea>
                        </div>
                    </div>
                </div>

                <div id="compare-block-div" class="col-lg-6 col-md-12 myhide">
                    <div id="compare-block" class="card" style="height:95%">
                        <div class="card-header not-padding-bottom">
                            <h3 id="ketquadoichieulabel" class="font-weight-normal"> Kết quả đối chiếu</h3>
                        </div>
                        <div class="card-body">
                            <textarea id="compare-editor">
                                </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!---<div class="row" style="margin-bottom: 15px;">
                <div class="col-12">
                    <button id="nhandangfpt" style="display:none;width: 100%;margin-bottom: 15px;" type="button" class="btn btn-outline-secondary" style="display: block; width: 100%;" path="/work/dataset_product/wav/product_0d6bcncs.wav"><i class="mr-2 mr-2 fas fa-hourglass-start"></i>Nhận dạng FPT</button>
                </div>
                <div class="col-12">
                    <div class="card" id="suggest" style="display: none;">
                        <div class="card-header not-padding-bottom">
                            <h3 class="font-weight-normal"> Gợi ý</h3>
                        </div>
                        <div class="card-body">
                            <textarea id="fpt-editor">
                                </textarea>
                        </div>
                    </div>
                </div>
            </div>--->
            <hr>

        </div>
        <div style="padding: 20px;background-color: #171F46;">
            <div class="row" style="margin-left:10px;">
                <h2 class="font-weight-normal mb-2" style="color:white">Thống kê sử dụng</h2>
            </div>

            <div class="row" style="padding: 30px;">
                <div class="col-lg-4 col-md-12" style="padding-bottom: 10px!important;">
                    <div class="card" style="height:100%">
                        <div class="card-body" style="position: relative;padding-top: 10px;padding-bottom:0;">
                            <div class="row align-items-center justify-content-between mb-4">
                                <h4 class="font-weight-normal mb-0">Truy cập theo ngày</h4>
                            </div>
                            <div class="row">
                                <div class="col-6" style="margin: 0 auto;">
                                    <div class="media align-items-center" style="margin: 0 auto;">
                                        <div class="media align-items-center" style="margin: 0 auto;">
                                            <h1 class="display-4 d-inline-block">
                                                <%= today[0]%>
                                            </h1>
                                            <div class="media-body ml-2">
                                                <h5 class="text-danger">
                                                    <div class="today">
                                                        <%= increase[0]%>
                                                    </div><i class="mr-2 ml-1 feather icon-arrow-<% if (increase[0] <0) { %>down<%} else { %>up<% } %>"></i></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12" style="padding-bottom: 10px!important;">
                    <div class="card" style="height:100%">
                        <div class="card-body" style="position: relative;padding-top: 10px;padding-bottom:0;">
                            <div class="row align-items-center justify-content-between mb-4">
                                <h4 class="font-weight-normal mb-0">Sử dụng API theo ngày</h4>
                            </div>
                            <div class="row">
                                <div class="col-6" style="margin: 0 auto;">
                                    <div class="media align-items-center" style="margin: 0 auto;">
                                        <div class="media align-items-center" style="margin: 0 auto;">
                                            <h1 class="display-4 d-inline-block">
                                                <%= today[1]%>
                                            </h1>
                                            <div class="media-body ml-2">
                                                <h5 class="text-success">
                                                    <div class="today">
                                                        <%= increase[1]%>
                                                    </div><i class="mr-2 ml-1 feather icon-arrow-<% if (increase[1] < 0) { %>down<%} else { %>up<% } %>"></i></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body" style="position: relative;padding-top: 10px;padding-bottom:0;">
                            <div class="row">
                                <div class="align-items-center justify-content-between">
                                    <h4 class="font-weight-normal mb-0">Tổng truy cập</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div id="visittotal" style="min-height: 168.976px;">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12">
                                    <div class="row align-items-center justify-content-between mb-4">
                                    </div>
                                    <p class="mb-3">Tổng truy cập<span class="float-right h6 mb-0 text-body" id="total_visit"><%= total[0]%></span></p>
                                    <p class="mb-3">Nhận dạng VNSR<span class="float-right h6 mb-0 text-body" id="total_visit_vnsr"><%= total[1]%></span></p>
                                </div>


                                <div class="resize-triggers">
                                    <div class="expand-trigger">
                                        <div style="width: 408px; height: 512px;"></div>
                                    </div>
                                    <div class="contract-trigger"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/pcoded.min.js"></script>
    <script src="assets/js/menu-setting.js"></script>
    <script src="assets/js/plugins/apexcharts.min.js"></script>
    <script src="assets/js/plugins/trumbowyg.min.js"></script>
    <script src="assets/js/prevent.js"></script>
    <script src="assets/js/plugins/PNotify.js"></script>
    <script src="assets/js/plugins/PNotifyCallbacks.js"></script>
    <script src="assets/js/pages/notify-event.js"></script>
    <script>
    </script>
    <script>
        var total = <%= total[0]%>;
        var vnsr = <%= total[1]%>;
        var doNothing = total - vnsr;
        $("#total_visit")[0].innerHTML = total;
        $("#total_visit_vnsr")[0].innerHTML = vnsr;
        var options = {
            chart: {
                height: 120,
                type: 'donut',
                sparkline: {
                    enabled: true
                },
            },
            labels: ['VNSR', 'F5'],
            series: [vnsr, doNothing],
            colors: ["#4680ff", "#00acc1"],
            legend: {
                show: true,
            },
            plotOptions: {
                pie: {
                    donut: {
                        size: '60%',
                        labels: {
                            show: true,
                            name: {
                                show: true
                            },
                            value: {
                                show: true
                            }
                        },
                    }
                }
            },
            dataLabels: {
                enabled: true,
                textAnchor: 'middle',
                distributed: false,
                offsetY: 10,
                style: {
                    colors: ['#123124'],
                },
            },
        }
        var chart = new ApexCharts(document.querySelector("#visittotal"), options);
        chart.render();
        $(window).on('load', function() {
            $('#result-editor').trumbowyg({
                btnsDef: {
                    alert: {
                        fn: function() {
                            var text = $(".trumbowyg-editor")[0].innerText;
                            if (text==""){
                                alert("Blank");
                                return;
                            }
                            var blob = new Blob([text], {type: 'text/plain'});
                            var currentDate = new Date()
                            var day = currentDate.getDate()
                            var month = currentDate.getMonth() + 1
                            var year = currentDate.getFullYear()
                            var hour = currentDate.getHours()
                            var min = currentDate.getMinutes()
                            var sec = currentDate.getSeconds()
                            blob.name = day+"_"+month+"_"+year+"_"+hour+"_"+min+"_"+sec
                            var a = document.createElement("a");
                            document.body.appendChild(a);
                            a.style = "display: none";
                            url = window.URL.createObjectURL(blob);
                            a.href = url;
                            a.download = blob.name;
                            a.click();
                            window.URL.revokeObjectURL(url);
                            document.body.removeChild(a);
                        },
                        ico: 'myicon'
                    }
                },
                svgPath: 'assets/css/plugins/icons.svg',
                btns: [
                    ['viewHTML'],
                    ['undo', 'redo'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['unorderedList', 'orderedList'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],    
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen'],
                    ['alert']
                ]
            });
            $('#fpt-editor').trumbowyg({
                svgPath: 'assets/css/plugins/icons.svg',
                btns: [
                    ['viewHTML'],
                    ['undo', 'redo'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ]
            });
            $('#compare-editor').trumbowyg({
                svgPath: 'assets/css/plugins/icons.svg',
                btns: [
                    ['viewHTML'],
                    ['undo', 'redo'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ]
            });
        });
    </script>

</body>

</html>